[submodule "modules/lib-msghandling"]
	path = modules/lib-msghandling
	url = https://github.com/papparazzo/moba-lib-msghandling.git
[submodule "modules/lib-cs2interface"]
	path = modules/lib-cs2interface
	url = https://github.com/papparazzo/moba-lib-cs2interface.git
